body {
  background: rgb(246,211,238);
  background: linear-gradient(90deg, rgba(246,211,238,1) 0%, rgba(245,194,229,1) 0%, rgba(245,223,239,1) 0%, rgba(255,252,254,1) 0%, rgba(238,90,175,1) 100%, rgba(245,74,155,1) 100%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background: rgb(246,211,238);
  background: linear-gradient(90deg, rgba(246,211,238,1) 0%, rgba(245,194,229,1) 0%, rgba(245,223,239,1) 0%, rgba(255,252,254,1) 0%, rgba(238,90,175,1) 100%, rgba(245,74,155,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(150px + 2vmin);
  color: black;
  
}

.App-link {
  color: #361732;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
